
.room-page-container{
    background-color: #dee2e1;
    margin-left: 30px;
    margin-right: 30px;

    .room-page-button {
        color: #569ef6;
        background-color: #dee2e1;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 30px;
        border: none;
    }

    .room-page-description-block {
        display: flex;
        flex-wrap: wrap;
    
    }
   .room-page-carusel{
       
            display:flex; 
            background-color: #0958d9;
            margin-top: auto;
            margin-bottom:auto;
            width: 50%;
            height: 400px;
            // .slick-slide{
            //     width: 50%;
            // height: 400px;
            

   
   }
    .room-page-description-item {
flex: auto;
        width: 25%;
    }
}
