* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    text-align: 'center';
    color: '#fff';
    height: 64px;
    line-height: 64px;

    background-color: #212343;
    display: flex;
    justify-content: space-between;

    .logo {
        height: 64px;
        justify-content: flex-start;
        margin-left: 50px;

        img {

            height: 40px;
            margin-top: 10px;
            opacity: 0.8;

        }
    }

    .logOutBtn {
        img {
            height: 40px;
        }

        .btn {
            background-color: #212343;
            color: aliceblue;
            border: 0;
            margin-right: 30px;
            margin-left: 10px;
        }
    }

}

.container {
    background-color: #dee2e1;
}

.antd-content {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    height: 900px;

        Button {
            background:#0958d9;
            /* Синий цвет фона */
            color: #fff;
            /* Белый цвет текста */
            text-align: center;
            border: none;
            /* Убираем рамку */
            border-radius: 0%;
            margin-top: 20px;
            margin-right: 20px;

        }
       
    .antd-table-container {

        height: max-content;
        margin-top: 50px;
        border-radius: 0;
       table-layout:fixed;


    }

    .ant-pagination {
        // display: flex;
        justify-content: center;
        text-align: center;
//         color:#de1118;
     :global{
        .ant-table-row{
            width: fit-content;
            color: aqua;
         }
     }
  
// .ant-pagination-next {
//     border:#0958d9;
//   font-size: 24px; /* Новый размер шрифта */
//   width: 30px; /* Новая ширина */
//   height: 100px; 
//   color: #de1118;
}
}

.errorPage {
    text-align: center;
    margin-top: 15%;

    p {
        margin-top: 10px;
        font-size: 20px;
    }
}

.room-page-container{
    background-color: #dee2e1;
    margin-left: 30px;
    margin-right: 30px;

    .room-page-button {
        color: #569ef6;
        background-color: #dee2e1;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 30px;
        border: none;
    }

    .room-page-description-block {
        display: flex;
        flex-wrap: wrap;
    

//     .room-page-carusel{
       
//             display:flex; 
//             background-color: #0958d9;
//             margin-top: auto;
//             margin-bottom:auto;
//             width: 50%;
//             height: 400px;
//             .slick-slide{
//                 width: 50%;
//             height: 400px;
//             }

//    }

    .room-page-description-item {
flex: auto;
        width: 25%;
    }
}


.antd-form {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    max-height: 100%;
    width: 500px;
    max-width: 100%;

    .antd-form-header {
        font-weight: bold;
    }

    .antd-form-checkbox {
        // display: flex;
        // justify-content:baseline;
        // width: 500px;
        align-items: start;
    }

}
}