

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background-color: #dee2e1;
    // container-type: inline-size;
    // width: 450px;
    height:100%;
//     max-width: 1920px;
    max-height: 1080px;
 }
 @import '_form.scss';
@import '_home.scss';
@import '_roomPage.scss';
@import '_header.scss';
@import '_errorPage.scss';